@use '../custom' as *;
.faq {
    
    h2 {
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Luckiest Guy", sans-serif;
        font-size: 2rem;
        color:#1f3a46;
        margin:1rem 0;
    }
    p {
        font-weight: 400;
        font-size: 1rem;
        font-family: "Gluten", sans-serif;
        color:#555;
    }
}